<h1>Welcome</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p class="notice"><%= notice %></p> 
<p class="alert"><%= alert %></p> 
<%= yield %>


<%= link_to 'articles', articles_path %>
<br>
<%= link_to 'New article', new_article_path %>
<br>
<%= link_to 'Sign Up Page', '/models/sign_up' %>

